@use 'colors' as c;
@use 'animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	background-color: c.$black;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 4rem 2rem;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.underline {
	position: relative;
	background-color: c.$blue;
	height: 2px;
	width: 60px;
	margin: 0 auto 40px;
	z-index: 300;
}

.nav {
	padding: 30px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	z-index: 1000;
	// backdrop-filter: blur(12px);
	background: transparent;
	transition: background 0.4s ease;

	&--scrolled {
		background-color: c.$black;
	}

	&__logo {
		height: 70px;
		filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.4));
	}

	&__container--left {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px;
	}

	.logo {
		height: 50px;
		filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.35));
	}

	&__container--right {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__burger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
	}

	&__burger-box {
		position: relative;
		width: 35px;
		height: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__burger-box div {
		width: 100%;
		height: 3px;
		background-color: c.$text-light;
		border-radius: 2px;
	}

	&__menu {
		display: none;
	}

	&__link {
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		color: c.$text-light;
		font-size: 2rem;
		transition: color 0.5s;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid c.$blue;
			border-radius: 5px;
			opacity: 0;
		}
		&:hover {
			color: c.$blue;
		}
		&:hover::before {
			animation: pulse 1s;
		}
	}
}

.hero {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 100vh;
	color: c.$text-light;
	background-image: url(https://cdn.pixabay.com/photo/2019/04/25/19/17/auto-4155650_1280.jpg);
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;

	&__heading {
		color: c.$blue;
		font-size: 4em;
		z-index: 10;
		padding-bottom: 10px;
	}
	&__text {
		color: c.$text-light;
		font-size: 1.5em;
		z-index: 10;
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 5;
	}

	&__text-shadow {
		position: absolute;
		width: 100%;
		height: 200px;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.7);
		z-index: 8;
		pointer-events: none;
	}

	&__arrow {
		position: absolute;
		bottom: 1em;
		color: c.$text-light;
		font-size: 1.6rem;
		left: 50%;
		padding: 2em;
		transform: translateX(-50%);
		border: 1px solid c.$text-light;
		border-radius: 50%;
		z-index: 2000;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			height: 100%;
			width: 100%;
			border: 1px solid c.$blue;
			border-radius: 50%;
			animation: pulse 2s infinite;
		}
	}
}

.about {
	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
	}
	&__image img {
		width: 300px;
		height: auto;
		border-radius: 1rem;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	}
	&__content {
		max-width: 600px;
		color: c.$text-light;
	}
	&__title {
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}

	&__name {
		font-size: 1.5rem;
		color: #555;
		margin-bottom: 1rem;
	}

	&__text {
		line-height: 1.6;
		margin-bottom: 1rem;
	}
}

.services__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
	color: c.$text-light;
}

.card {
	background-color: #1a1a1a;
	border-radius: 12px;
	padding: 2rem;
	text-align: center;
	transition: transform 0.2s;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

	&:hover {
		transform: translateY(-5px);
	}

	img {
		// aspect-ratio: 4 / 3;
		width: 100%;
		height: 60%;
		margin-bottom: 1rem;
		border-radius: 15px;
		background-size: cover;
		background-position: center;
		// object-fit: fill;
	}

	h3 {
		font-size: 1.6rem;
		margin-bottom: 0.5rem;
		color: c.$blue;
	}

	p {
		font-size: 1.4rem;
		color: #ccc;
	}
}

@media (min-width: 576px) {
}

@media (max-width: 768px) {
	.services__cards {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		padding-bottom: 1rem;
	}

	.card {
		flex: 0 0 80%;
		scroll-snap-align: center;
		margin-right: 1.5rem;
	}

	.services__cards::-webkit-scrollbar {
		display: none;
	}
}
@media (min-width: 768px) {
}

@media (min-width: 992px) {
	.nav {
		&__burger {
			display: none;
		}

		&__burger-box,
		&__burger-box div {
			display: none;
		}

		&__menu {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 50%;
		}
	}
}
